*{
    padding:0;
    margin:0;
    font-family: 'kanit' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    overflow-y:scroll;
    overflow-x: hidden;
    flex-direction: column;
    flex-wrap: wrap;
}
.page{
    height:100vh;
    width:100vw;
    background-color: #5e5e5e;
    
}
.logo{
    height:10vmin; 
    max-height:80px;
    width:40vmin; 
    max-width:300px;
    /* border:2px solid black; */
    margin:00px;
    background-image: url(assets/logo.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
}
#navbar{
    height:10vmin;
    width:80vmin;
    /* border:2px solid black; */
    position:relative;
    left:28vw;
    bottom:9vh;
    margin-left: 2px;
    
}
ul a{
    text-decoration: none;
    position: relative;
    font-size: 2.75vmin;
    font-weight: 540;
    color:#F5F5F5;
}
li {
    list-style: none;
    display: inline-block;
    margin:1vmin;
    margin-top: 3vmin;
}
ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:lightgrey;
    position: absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
ul li a:hover::after {
    width:100%;
}
ul li a:hover{
    color:lightgrey
}
#git{
    width:30vmin;
    height:10vmin;
    /* border:2px solid black; */
    position: relative;
    left:85vw;
    bottom:18vh;
}
#github{
    height:6vmin;
    margin-left: 1vw;
    margin-bottom:0.5vw;
}
#linkedin{
    height:8vmin;
    margin-left: 2vw;
}
#profile{
    height:75vmin;
    width:70vmin;
    position: relative;
    left:50vw;
    bottom:4vw;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    
}
#pic{
    height:100vmin;
    width:70vmin;
    position: relative;
    bottom:11.5vw;
    
}
.head{
    height:20vmin;
    width:70vmin;
    position: relative;
    bottom: 82vh;
    left: 9vw;
   
    
}
.head h1{
    text-align: center;
    font-size: 3vw;
    color: #F3D538;
}
.intro{
    height:40vmin;
    width:90vmin;
   
    position:relative;
    left:5vw;
    bottom:80vh;
    color:#F5F5F5;
    text-align: left;
    font-size: 1.5vw;
    line-height: 2vw;


}
#myskills {
    width:50vmin;
    margin: auto;
    color:#F5F5F5;
    font-size: 1.8vw;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    text-align: center;  
    position: relative;
    top:1vw;
     
}

#languages{
    width:90vmin;
    height:30vmin;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    left:3vw;
    top:10vh;
}
#cpp{
    height:9vw;
    position: absolute;
    left:-1vw;
    top:3vw;

}
#c{
    height:7vw;
    position: absolute;
    left:9vw;
    top:4vw;
}
#html{
    height:7vw;
    position: absolute;
    left:14vw;
    top:4vw;
}
#css{
    height:8vw;
    position: absolute;
    left:23vw;
    top:3.5vw;
}
#js{
    height:7vw;
    position: absolute;
    left:29vw;
    top:4vw;
}
#frames{
    width:90vmin;
    height:30vmin;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    left:54vw;
    bottom:20vh;
}
#django{
    height:8vw;
    position: absolute;
    left:-0.05vw;
    top:4vw;

}
#numpy{
    height:7vw;
    position: absolute;
    left:4vw;
    top:4vw;
}
#pandas{
    height:5vw;
    position: absolute;
    left:22vw;
    top:5.25vw;
}
#matplotlib{
    height:5vw;
    position: absolute;
    left:35vw;
    top:5vw;
}

#softwares{
    width:90vmin;
    height:30vmin;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom:10vh;
    left:30vw;

}
#canva{
    height:7vw;
    position: absolute;
    left:8vw;
    top:4vw;

}
#figma{
    height:7vw;
    position: absolute;
    left:25vw;
    top:4vw;
}


.page h3{
    color: #F3D538;
    font-size:1.5vw;
    font-weight:500;
    text-align: center;
    margin-top:0.5vw;
}
#ptitle{
    height:30vmin;
    width:50vmin;
    
    position: relative;
    left:3vw;
    top:12vh;
}
#ptitle h1{
    color: #F5F5F5;
    font-size:4.75vw;
    font-weight: 400;
   
}
#ptitle h2{
    color: #F3D538;
    text-align: center;
    
}
#ptitle h4{
    color: #F5F5F5;
    font-weight: 200;
    text-align: center;
    margin-bottom: 5px;
}
#jap{
    height:30vmin;
    width:40vmin;
    background-color: rgb(42, 41, 41);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);;
    position: relative;
    left:25vw;
    bottom: 20vh;
}
#pmx{
    height:30vmin;
    width:40vmin;
    background-color: rgb(42, 41, 41);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);;
    position: relative;
    left:48vw;
    bottom:80vh;

}
#ev{
    height:30vmin;
    width:40vmin;
    background-color: rgb(42, 41, 41);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);;
    position: relative; 
    left:72vw;
    bottom:50vh;
}
#cloud{
    height:30vmin;
    width:40vmin;
    background-color: rgb(42, 41, 41);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);;
    position: relative; 
    left:48vw;
    bottom:70vh;
}
#projects a{
    text-decoration: none;
}
.tile:hover {
    transform: scale(1.12); 
    background-color:  #F3D538 !important; 
    transition: all 0.5s ease;
}

.tile:hover h2, .tile:hover h4 {
    color: black !important; 
}

#experiencebox{
    overflow-y: auto;
    
    height:80vmin;
    width:90vmin;
    background-color: rgb(42, 41, 41);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);;
    position: relative; 
    top:12vh;
    left:8vw;
}
#experiencebox h1{
    color:white;
    font-size: 2.5vw;
    font-weight: 300;
    margin-left: 10vw;
    margin-top: 3vw;
}
#experiencebox h2{
    color: #F3D538;
    font-weight: 200;
    position: relative;
    top:2vw;
    left:1vw;
}
#experiencebox h3{
    color: #ecebe6;
    font-weight: 200;
    font-size: 1.5vw;
    position: relative;
    top:2vw;
    left:2vw;
    text-align: left;
    
}
#contactform{
    width:80vmin;
    height:80vmin;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    left:57vw;
    bottom:32vw;
}
.contact-form h2 {
    text-align: center;
    font-size:2.5vw;
    color:#F3D538;
}
.contact-form .form-group {
    margin-bottom: 15px;
}
.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 1.25vw;
    margin-left: 1vw;
}
.contact-form .form-group input,
.contact-form .form-group textarea {
    width:32vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 1vw;
}
.contact-form .form-group textarea {
    resize: vertical;
    height: 100px;
}
.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left:15vw;
}
.contact-form button:hover {
    background: #0056b3;
}

